<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="javascripts/lib/raphael/raphael-min.js"></script>
    <script src="javascripts/lib/jquery/jquery.min.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <div id="game"></div>
  </body>
</html>
